.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .ibm-plex-mono-semibold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
  }
  /* encabezado */
  .encabezado{
    background-color: #5300C8;
    padding: 20px 0px 20px 0px;
  }

  .titulo{
    font-size: 24px;
    font-family: "Press Start 2P";
    color: #E5E5E5;
  }

  .encabezado img{
    width: 138px;
    height: 56px;
  }
/* cuerpo */
  main{
    margin: 50px 0px 50px 0px;
    padding: 60px 40px;
  }
  .pagina__productos__form{
    font-family: "Press Start 2P";
    font-size: 24px;
  }

  .mis__productos h1{
    margin: 0px 0px 40px 0px;
  }
  /* tarjeta de productos */

  .contenedor__productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:minmax(100px, auto);
    gap: 10px;
    padding: 15px;
  }
  .contenedor__productos card{
    background-color: #5300C8;
    border: 3px solid #000000; 
    border-radius: 10px;
  }
  .contenedor__productos img{
    margin: 10px;
  }
  .datos__producto{
    padding-left: 10px;
  }

  .contenedor__productos h2{
    font-family: "IBM Plex Mono";
    color: #FFFFFF;
    font-size: 15px;
  }
  .contenedor__productos h3{
    font-family: "IBM Plex Mono";
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
  }
  /* formulario */
  .agregar__producto{
    padding: 0px 40px;
  }

/* pie de pagina */

  .pie__pagina{
  background-color: #5300C8;
  padding: 64px;
}

  .texto{
  color: #FFFFFF;
}

  .texto h2{
    font-family: "IBM Plex Mono";
    font-size: 16px;
    font-weight: normal;
}

.texto h3{
  font-family: "IBM Plex Mono";
  font-size: 16px;
  margin-top: 16px;
}
