.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .ibm-plex-mono-semibold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
  }

  .encabezado{
    background-color: #5300C8;
    padding: 20px 0px 20px 0px;
  }

  .titulo{
    font-size: 24px;
    font-family: "Press Start 2P";
    color: #E5E5E5;
  }

  .encabezado img{
    width: 138px;
    height: 56px;
  }